<p-toolbar [style]="{ height: '100px' }">
    <div class="p-toolbar-group-start">
        <img src="assets/icons/icon-72x72.png" alt="logo" />
    </div>
    <div class="p-toolbar-group-center">
        {{ title }}
    </div>
    <div class="p-toolbar-group-end">
        <div class="flex align-items-center gap-3">
            <div class="relative">
                <i class="pi pi-shopping-cart cursor-pointer" 
                   style="font-size: 2rem"
                   routerLink="/cart"></i>
                <span *ngIf="cartCount() > 0" 
                      class="cart-badge">{{ cartCount() }}</span>
            </div>
            
            <p-button *ngIf="!isAuthenticated()" 
                     label="Connexion" 
                     routerLink="/login" 
                     [text]="true" />
            
            <p-button *ngIf="isAuthenticated()" 
                     label="Déconnexion" 
                     (onClick)="logout()" 
                     [text]="true" />
        </div>
    </div>
</p-toolbar>
<p-splitter 
    [panelSizes]="[20, 80]" 
    [style]="{ height: 'calc(100vh - 100px)' }">
    <ng-template pTemplate>
        <div class="w-full">
            <app-panel-menu />
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="w-full app-content">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</p-splitter>